 <div class="section section-gray">
        <div class="container">
        
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="img/marques_avatar.jpg"/>
                            </div>
                                        <a href="#" class="btn btn-just-icon btn-warning btn-simple">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </a>
                                    <div class="card-content">
                                        <h3 class="card-title">Marques Brownlee</h3>
                                    </div>
                                            <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                           <div class="description">
                                <h4 class="info-title">Review Title</h4>
                                <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
                                <span class="btn btn-warning btn-simple">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></span>
                            </div>
                </div>
                                <div class="row">
                           <div class="description">
                                <h4 class="info-title">Review Title</h4>
                                <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
                                <span class="btn btn-warning btn-simple">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></span>
                            </div>
                </div>
                                <div class="row">
                           <div class="description">
                                <h4 class="info-title">Review Title</h4>
                                <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
                                <span class="btn btn-warning btn-simple">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></span>
                            </div>
                </div>
                                <div class="row">
                           <div class="description">
                                <h4 class="info-title">Review Title</h4>
                                <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
                                <span class="btn btn-warning btn-simple">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i></span>
                            </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
<iframe width="460" height="215" src="https://www.youtube.com/embed/xo2B67vz4HA" frameborder="0" allowfullscreen></iframe>          </div>
        </div>
                                </div>
            </div>
        </div>
        </div>
    </div>